<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Mast_simplistic_model">
  <link
    name="Mast_simplistic_model">
    <inertial>
      <origin
        xyz="-1.4175E-16 0.000682150000000057 0.92462"
        rpy="0 0 0" />
      <mass
        value="65.827" />
      <inertia
        ixx="26.771"
        ixy="-9.2609E-16"
        ixz="1.032E-15"
        iyy="26.898"
        iyz="0.00903009999999839"
        izz="0.66389" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://communication_module_with_antenna/meshes/Mast_simplistic_model.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://communication_module_with_antenna/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://communication_module_with_antenna/meshes/Mast_simplistic_model.STL" />
      </geometry>
    </collision>
  </link>
</robot>